<%- include ('partials/header') %>

<h1>Login</h1>
<%- include ('partials/message') %>
<form method="POST">
    <p>
        <label>Login</label>
        <input type="text" name="username" value="">
    </p>
    <p>
        <button>Valider</button>
    </p>
</form>

<%- include ('partials/footer') %>